<p>We've made first contact with aliens. They wish to form a relationship with humans. Do you...</p>
<%= link_to 'believe all aliens are bad?', page_path('sarah/new_neighbors')%>
<%= link_to 'think they are a mix of good and bad, like humans?', page_path('sarah/new_neighbors')%>