<p>We've made first contact with aliens. They wish to form a relationship with humans. Do you...</p>
<p>believe all aliens are bad?</p>
<%= button_to 'Yes', "/new_integer_token?name=war&value=#{5}&next_page=sarah/new_neighbors", method: :post %>
 <p>think they are a mix of good and bad, like humans?</p>
 <%= button_to 'Yes', "/new_integer_token?name=war&value=#{0}&next_page=sarah/new_neighbors", method: :post %>
<%= button_to 'Bookmark this page', "/update_bookmark?bookmark=#{request.original_fullpath}", method: :post %>