<p>You called the police, neighbors hear and get suspicious. They see the alien with both a dog and the police, confirming their fears.</p>
<p>The Alien explains to the cops that he tracked down the dog to return it to it's owner as an olive branch. He knows about the rumors and his children are getting are getting bullied because of it. Still the dog's owners file charges which ends up on the news.</p>
<p>Let's see what future your actions have lead to</p>
<%= link_to 'Results', page_path('sarah/new_world'), class: "btn btn-default"%>
<%= button_to 'Bookmark this page', "/update_bookmark?bookmark=#{request.original_fullpath}", method: :post %>