<p>You asked the alien was was going on, he calmly explains he tracked down the dog to return it to it's owner as an olive branch. He knows about the rumors and his children are getting are getting bullied because of it.</p>
<p>You have a feeling that him returning the dog would just look more suspicuous. So you say you'll return any dogs the alien finds and offer to help find them. The alien agrees. When the dogs show up back at home, the rumors fizzle out.</p>
<p>The alien family goes door to door with pieces of carved wood that each have different flowers painted on the front. On the back an inscription is burned into the wood. It says:
                "We may look different like these flowers but all of us experience the sun and rain of life. So let's grow strong together."</p>
                
<p>This is the beginning of a supportive relationship between the alien family and human families.</p>
<%= button_to 'Bookmark this page', "/update_bookmark?bookmark=#{request.original_fullpath}", method: :post %>