<p>There is a beautiful boy, the age of 13, who finds himself to be quite ugly. He bears the physical traits of messenger, one of the vision types.

There are 4 vision types: 
<ul>
    <li>Messengers (whom see the worst the future holds and are othen viewed as bad omens)</li>
    <li>Watchtowers (whom see the best direction for people to go in as well as the areas that need work)</li>
    <li>Healers (whom can experience the pain of others as well as eleviate it)</li>
    <li>Counsellors (whom see the past and help people overcome it)</li>
</ul>
Those of the vision species all have vary shades of amber colored skin. It is their hair that diffenciates the 4 sub species. The most desirable hair
is the flame-like locks of the watchtowers. The least desired (even reviled) is the 'dirty water' hair of the messengers.

The boy has 'dirty water' hair. And what is worse is that all vision types have resin-esque hair until puberty. So you start off with the hope
you'll have any kind of hair but the 'dirty water' kind.

Zachary was actually an apprentice to a great watchtower named Felicity Bloodgood. She had been like a mother to him. The praise that followed her
also fell onto Zachary. He was lauded as being the next great great watchtower. Then one day he lost all that praise and was labeled evil by Felicity.
That same day his hair became 'dirty water' as if he'd been cursed by her words.

Now Zachary must decide what to do with his life. Rejected by so many, and having lost his sense of purpose he wonders if he should just end it all.
</p>
<%= button_to 'Bookmark this page', "/update_bookmark?bookmark=#{request.original_fullpath}", method: :post %>