<form action="/search">
    <div class="input-group">
        <input class="form=control" type="text" name="title" placeholder="Search for...">
        <span class="input-group-bin">
            <input class="btn btn-default" type="submit" value="Search for Book">
        </span>
    </div>
    <!--<input type="text" name="title" placeholder="Search for...">
    <input type="submit" value="Search">-->
</form>
Or
<%=link_to 'Add Book', page_path('new')%>