<h1>Hi, <%=current_user.username%>!<h3>Welcome to my page</h3></h1>
<p>So, this is me</p>
 <div><img height='200' src='<%=@rel.avatar%>'></div>
 <h2>about me</h2>
 <div><p><%=@rel.about%></p>
 <h2>hobbies</h2>
 <p><%=@rel.hobbies%></p></div>